SchedulingHelper/WebContent/wsdl/SchedulingHelper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schedulinghelper.diy.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://schedulinghelper.diy.com" xmlns:intf="http://schedulinghelper.diy.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://schedulinghelper.diy.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="startScheduler">
    <complexType/>
   </element>
   <element name="startSchedulerResponse">
    <complexType>
     <sequence>
      <element name="startSchedulerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="scheduleWSCall">
    <complexType>
     <sequence>
      <element name="strName" type="xsd:string"/>
      <element name="strDate" type="xsd:string"/>
      <element name="strTime" type="xsd:string"/>
      <element name="bRecurent" type="xsd:boolean"/>
      <element name="runCount" type="xsd:int"/>
      <element name="delay" type="xsd:int"/>
      <element name="strSOAPMessage" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="scheduleWSCallResponse">
    <complexType>
     <sequence>
      <element name="scheduleWSCallReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getScheduledJobsStats">
    <complexType/>
   </element>
   <element name="getScheduledJobsStatsResponse">
    <complexType>
     <sequence>
      <element name="getScheduledJobsStatsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="stopScheduler">
    <complexType/>
   </element>
   <element name="stopSchedulerResponse">
    <complexType>
     <sequence>
      <element name="stopSchedulerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="scheduleWSCallRequest">

      <wsdl:part element="impl:scheduleWSCall" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="stopSchedulerResponse">

      <wsdl:part element="impl:stopSchedulerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getScheduledJobsStatsResponse">

      <wsdl:part element="impl:getScheduledJobsStatsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="startSchedulerRequest">

      <wsdl:part element="impl:startScheduler" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="scheduleWSCallResponse">

      <wsdl:part element="impl:scheduleWSCallResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getScheduledJobsStatsRequest">

      <wsdl:part element="impl:getScheduledJobsStats" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="stopSchedulerRequest">

      <wsdl:part element="impl:stopScheduler" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="startSchedulerResponse">

      <wsdl:part element="impl:startSchedulerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SchedulingHelper">

      <wsdl:operation name="startScheduler">

         <wsdl:input message="impl:startSchedulerRequest" name="startSchedulerRequest">

       </wsdl:input>

         <wsdl:output message="impl:startSchedulerResponse" name="startSchedulerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="scheduleWSCall">

         <wsdl:input message="impl:scheduleWSCallRequest" name="scheduleWSCallRequest">

       </wsdl:input>

         <wsdl:output message="impl:scheduleWSCallResponse" name="scheduleWSCallResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getScheduledJobsStats">

         <wsdl:input message="impl:getScheduledJobsStatsRequest" name="getScheduledJobsStatsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getScheduledJobsStatsResponse" name="getScheduledJobsStatsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="stopScheduler">

         <wsdl:input message="impl:stopSchedulerRequest" name="stopSchedulerRequest">

       </wsdl:input>

         <wsdl:output message="impl:stopSchedulerResponse" name="stopSchedulerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SchedulingHelperSoapBinding" type="impl:SchedulingHelper">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="startScheduler">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startSchedulerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="startSchedulerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="scheduleWSCall">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="scheduleWSCallRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="scheduleWSCallResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getScheduledJobsStats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getScheduledJobsStatsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getScheduledJobsStatsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="stopScheduler">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="stopSchedulerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="stopSchedulerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SchedulingHelperService">

      <wsdl:port binding="impl:SchedulingHelperSoapBinding" name="SchedulingHelper">

         <wsdlsoap:address location="http://localhost:18080/SchedulingHelper/services/SchedulingHelper"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
