WellnessProgramRegistration/WebContent/wsdl/ProcessAndroidData.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wellnessprogram.diy.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wellnessprogram.diy.com" xmlns:intf="http://wellnessprogram.diy.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wellnessprogram.diy.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getResult">
    <complexType>
     <sequence>
      <element name="str" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultResponse">
    <complexType>
     <sequence>
      <element name="getResultReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getResultResponse">

      <wsdl:part element="impl:getResultResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getResultRequest">

      <wsdl:part element="impl:getResult" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProcessAndroidData">

      <wsdl:operation name="getResult">

         <wsdl:input message="impl:getResultRequest" name="getResultRequest">

       </wsdl:input>

         <wsdl:output message="impl:getResultResponse" name="getResultResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProcessAndroidDataSoapBinding" type="impl:ProcessAndroidData">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getResult">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProcessAndroidDataService">

      <wsdl:port binding="impl:ProcessAndroidDataSoapBinding" name="ProcessAndroidData">

         <wsdlsoap:address location="http://localhost:8080/WellnessProgramRegistration/services/ProcessAndroidData"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
