ChartHelper/WebContent/wsdl/BarChartHelper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://charthelper.diy.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://charthelper.diy.com" xmlns:intf="http://charthelper.diy.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://charthelper.diy.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="generateWeeklyReviewBarChart">
    <complexType>
     <sequence>
      <element name="Index1Value1" type="xsd:string"/>
      <element name="Index1Value2" type="xsd:string"/>
      <element name="Index2Value1" type="xsd:string"/>
      <element name="Index2Value2" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateWeeklyReviewBarChartResponse">
    <complexType>
     <sequence>
      <element name="generateWeeklyReviewBarChartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateWeeklyReviewBarChartRequest">

      <wsdl:part element="impl:generateWeeklyReviewBarChart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateWeeklyReviewBarChartResponse">

      <wsdl:part element="impl:generateWeeklyReviewBarChartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BarChartHelper">

      <wsdl:operation name="generateWeeklyReviewBarChart">

         <wsdl:input message="impl:generateWeeklyReviewBarChartRequest" name="generateWeeklyReviewBarChartRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateWeeklyReviewBarChartResponse" name="generateWeeklyReviewBarChartResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BarChartHelperSoapBinding" type="impl:BarChartHelper">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="generateWeeklyReviewBarChart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateWeeklyReviewBarChartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateWeeklyReviewBarChartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BarChartHelperService">

      <wsdl:port binding="impl:BarChartHelperSoapBinding" name="BarChartHelper">

         <wsdlsoap:address location="http://localhost:18080/ChartHelper/services/BarChartHelper"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
